In [73]:
import os
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import seaborn as sns
import numpy as np

# Tests

In [74]:
titanic_df = pd.read_csv("https://raw.githubusercontent.com/ID2223KTH/id2223kth.github.io/master/assignments/lab1/titanic.csv")
# display(titanic_df)

## Data preparation

In [75]:
# Drop unnecessary columns
df = titanic_df.drop(columns=['Fare', 'Cabin', 'Name', 'Parch', 'Ticket', 'SibSp', 'PassengerId'])

# Make gender numeric?
df['Sex'] = df['Sex'].replace(['male', 'female'], [0, 1])

# Fill missing embarked values and make numeric
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df['Embarked'] = df['Embarked'].replace(['S', 'C', 'Q'], [0, 1, 2])

# Interpolate missing Age values and create bins
bins = [-np.infty, 20, 25, 29, 30, 40, np.infty]
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Age'] = pd.cut(x=df['Age'], bins=bins, labels=False)
display(df)
display(df['Age'].value_counts())

     Survived  Pclass  Sex  Age  Embarked
0           0       3    0    1         0
1           1       1    1    4         1
2           1       3    1    2         0
3           1       1    1    4         0
4           0       3    0    4         0
..        ...     ...  ...  ...       ...
886         0       2    0    2         0
887         1       1    1    0         0
888         0       3    1    3         0
889         1       1    0    2         1
890         0       3    0    4         2

[891 rows x 5 columns]

3    202
0    179
4    155
5    150
1    122
2     83
Name: Age, dtype: int64

In [76]:
y = df['Survived']
X = df.drop(columns=['Survived'])

display(y)
display(X)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

     Pclass  Sex  Age  Embarked
0         3    0    1         0
1         1    1    4         1
2         3    1    2         0
3         1    1    4         0
4         3    0    4         0
..      ...  ...  ...       ...
886       2    0    2         0
887       1    1    0         0
888       3    1    3         0
889       1    0    2         1
890       3    0    4         2

[891 rows x 4 columns]

## Model(s)

In [77]:
# You can read training data, randomly split into train/test sets of features (X) and labels (y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

random_forest = RandomForestClassifier(n_estimators=1000, random_state=999)
random_forest.fit(X_train, y_train.values.ravel())

knn = KNeighborsClassifier(n_neighbors=15)
knn.fit(X_train, y_train.values.ravel())

# Evaluate model performance using the features from the test set (X_test)
y_pred_rf = random_forest.predict(X_test)
y_pred_knn = knn.predict(X_test)

# Compare predictions (y_pred) with the labels in the test setx (y_test)
#metrics = classification_report(y_test, y_pred_rf, output_dict=True)
results_rf = confusion_matrix(y_test, y_pred_rf)
accuracy_rf = accuracy_score(y_test, [round(value) for value in y_pred_rf])

results_knn = confusion_matrix(y_test, y_pred_knn)
accuracy_knn = accuracy_score(y_test, [round(value) for value in y_pred_knn])

display("results rf", results_rf)
display("accuracy rf", accuracy_rf)

display("results knn", results_knn)
display("accuracy knn", accuracy_knn)

C:\Users\Remo\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

'results rf'

array([[105,   7],
       [ 27,  40]], dtype=int64)

'accuracy rf'

0.8100558659217877

'results knn'

array([[106,   6],
       [ 26,  41]], dtype=int64)

'accuracy knn'

0.8212290502793296